{% load static %}
  <aside class="sidebar">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
-->
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="" name ="visãogeral">
          <a href="{% url 'home' %}">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>Visão Geral</p>
          </a>
        </li>
        <li class="" name="cadastros">
          <a data-toggle="collapse" href="#submenu" aria-expanded="false">
            <i class="tim-icons icon-bullet-list-67"></i>
            <p>Cadastros <b class="caret"></b></p>
          </a>

          <div id="submenu" class="collapse">
            <ul class="list-unstyled">
              <li class="" name="produtos"><a href="{% url 'display_products' %}">Produtos</a></li>
              <li class="" name="clientes"><a href="#">Clientes/Fornecedores</a></li>
            </ul>
          </div>
        </li>
        <li class="" name="vendas">
          <a href="{% url 'display_sales' %}">
            <i class="tim-icons icon-wallet-43"></i>
            <p>Vendas</p>
          </a>
        </li>
        <li class="" name="agenda">
          <a href="{% url 'constructing' %}">
            <i class="tim-icons icon-single-02"></i>
            <p>Agenda</p>
          </a>
        </li>
      </ul>
    </div>
  </aside>