{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="wrapper">
     <main class="main-panel">
        <div class="content">
          <div class="container">
            <div class="card mt-4 mt-lg-0">
              <div class="card-header">
                <h4 class="card-title">Adicionar novo produto</h4>
              </div>
              <div class="card-body">
                <form id="validate-form">
                {% csrf_token %}
                  <div class="form-row">
                    <div class="col-6">
                      <div class="form-group has-label">
                        {% for field in form %}
                        <div class="input-block">
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                            <input class="form-control" {{ field }}
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                <div class="saveprod">
                    <input type="submit" value="Salvar" class="btn btn-info btn-round">
                    <button class="btn btn-default btn-round btn-simple">Cancel</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
     </main>
</div>

{% endblock %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/css/addprod.css' %}"/>

<div class="container">
    <form action="." novalidate method="POST">
        <fieldset align="center">
            <legend>{{ header }}</legend>

            {% csrf_token %}
            {% for field in form %}
            <div class="input-block">
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="saveprod">
                <input type="submit" value="Salvar" class="btnsave">
                <button class="btncancel">Cancel</button>
            </div>

        </fieldset>
    </form>
</div>
                 <input type="submit" class="btn btn-info btn-round">
                    Salvar
                  </input>
                  <button class="btn btn-default btn-round btn-simple">
                    Cancelar
                  </button>

<style>
    .alert{
        padding: 0 15px;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    .alert p {
        padding: 7px 0 7px;
    }

    .alert.success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d0e9c6
    }

</style>