<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'assets/js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/index.css' %}"/>


    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

</head>

<body>

    <div class="navbar">
    <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/blackD_logo.svg' %}" alt="logo"></a>
        <div class="dropdown-prof">
          <button class="dropbtn-prof"><i class="fas fa-user-circle" style="font-size:36px;"></i>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Log Out</a>
          </div>
        </div>
    </div>



    <div class="sidenav">
        <a href="{% url 'home' %}">Visão Geral</a>
        <button class="dropdown-btn">Cadastros
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="{% url 'display_products' %}">Produtos</a>
          <a href="#">Clientes/ <br>Fornecedores</a>
        </div>
        <a href="{% url 'display_sales' %}">Vendas</a>
        <a href="#about">Agenda</a>
    </div>



    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content
        - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          }
          });
        }
    </script>

    {% block body %}

    {% endblock %}



</body>
</html>