{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/addprod.css' %}"/>

<div class="container">
    <form action="." novalidate method="POST">
        <fieldset align="center">
            <legend> {{ header }}</legend>

            {% csrf_token %}
            {% for field in form %}
            <div class="form-group has-label"">
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="saveprod">
                <input type="submit" value="Editar" class="btnsave">
                <button class="btncancel">Cancel</button>
            </div>

        </fieldset>
    </form>
</div>


{% endblock %}
