{% extends 'base.html' %}
{% load static %}


{% block body %}

      <div class="container">
        <h1 class="mt-4 mt-lg-0">Bom dia, Usuário</h1>
        <h4 class="mb-4">
          Aqui estão as informações mais <br />importantes do seu negócio
        </h4>
        <table class="table">
          <thead>
            <tr>
              <th>Faturamentos</th>
              <th>Nº de Vendas</th>
              <th>Valor médio vendas</th>
              <th>Novos Clientes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>R$ {{ saleTot }}</td>
              <td>-</td>
              <td>R$ {{saleAvg}}</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
        <div class="row mb-3 align-items-end">
          <div class="col-sm-4">
            <h4 class="mb-1">Total Vendas</h4>
            <h4 class="m-0"><strong>Performance</strong></h4>
          </div>

          <div class="col-sm-8 d-flex justify-content-end">
            <div class="form-check form-check-radio form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="period"
                  value="semanal"
                  
                />
                Diário
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check form-check-radio form-check-inline mx-2">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="period"
                  value="mensal"
                />
                Mensal
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check form-check-radio form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="period"
                  value="anual"
                  checked
                />
                Anual
                <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
        </div>



        <section class="card card-chart">
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock %}

{% block corejs %}
  <script type="text/javascript">
    var xYear = {{xYear|safe}};
        xYear = xYear.reverse();
    var yYear = {{yYear|safe}};
        yYear = yYear.reverse();
    var xMonth = {{xMonth|safe}};
    var yMonth = {{yMonth|safe}};
    var xDay = {{xDay|safe}};
    var yDay = {{yDay|safe}};
    

  </script>
{% endblock corejs %}


    