{% extends 'base.html' %}
{% load static %}

{% block body %}

<h1>Bom dia, Usuário</h1>
<h2 class="subtitulo">Aqui estão as informações mais<br>importantes do seu negócio</h2>

<table class="table" size="40">
    <thead>
        <tr>
            <th class="text-center">Faturamentos</th>
            <th>Nº Vendas</th>
            <th>Valor medio<br>vendas</th>
            <th>Novos Clientes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">R$ ---</td>
            <td>---</td>
            <td>R$ ---</td>
            <td>R$ ---</td>
        </tr>
    </tbody>
</table>


<div class="card card-chart">
  <div class="card-header ">
    <div class="row">
      <div class="col-sm-6 text-left">
        <h5 class="card-category">Total vendas</h5>
        <h2 class="card-title">Performance</h2>
      </div>
      <div class="col-sm-6">
        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
          <label class="btn btn-sm btn-primary btn-simple active" id="0">
            <input type="radio" name="options" checked>
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Semanal</span>
            <span class="d-block d-sm-none">
              <i class="tim-icons icon-single-02"></i>
            </span>
          </label>
          <label class="btn btn-sm btn-primary btn-simple" id="1">
            <input type="radio" class="d-none d-sm-none" name="options">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Mensal</span>
            <span class="d-block d-sm-none">
              <i class="tim-icons icon-gift-2"></i>
            </span>
          </label>
          <label class="btn btn-sm btn-primary btn-simple" id="2">
            <input type="radio" class="d-none" name="options">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Anual</span>
            <span class="d-block d-sm-none">
              <i class="tim-icons icon-tap-02"></i>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-area">
      <canvas id="chartBig1"></canvas>
    </div>
  </div>
</div>
<script>
  <!-- javascript init -->
  // General configuration for the charts with Line gradientStroke
  gradientChartOptionsConfiguration =  {
    maintainAspectRatio: false,
    legend: {
          display: false
     },

     tooltips: {
       backgroundColor: '#fff',
       titleFontColor: '#333',
       bodyFontColor: '#666',
       bodySpacing: 4,
       xPadding: 12,
       mode: "nearest",
       intersect: 0,
       position: "nearest"
     },
     responsive: true,
     scales:{
       yAxes: [{
         barPercentage: 1.6,
             gridLines: {
               drawBorder: false,
                 color: 'rgba(29,140,248,0.0)',
                 zeroLineColor: "transparent",
             },
             ticks: {
               suggestedMin:50,
               suggestedMax: 110,
                 padding: 20,
                 fontColor: "#9a9a9a"
             }
           }],

       xAxes: [{
         barPercentage: 1.6,
             gridLines: {
               drawBorder: false,
                 color: 'rgba(220,53,69,0.1)',
                 zeroLineColor: "transparent",
             },
             ticks: {
                 padding: 20,
                 fontColor: "#9a9a9a"
             }
           }]
       }
  };

  var ctx = document.getElementById("chartBig1").getContext("2d");

  var gradientStroke = ctx.createLinearGradient(0,230,0,50);

  gradientStroke.addColorStop(1, 'rgba(72,72,176,0.2)');
  gradientStroke.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke.addColorStop(0, 'rgba(119,52,169,0)'); //purple colors

  var data = {
    labels: ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
    datasets: [{
      label: "Data",
      fill: true,
      backgroundColor: gradientStroke,
      borderColor: '#d048b6',
      borderWidth: 2,
      borderDash: [],
      borderDashOffset: 0.0,
      pointBackgroundColor: '#d048b6',
      pointBorderColor:'rgba(255,255,255,0)',
      pointHoverBackgroundColor: '#d048b6',
      pointBorderWidth: 20,
      pointHoverRadius: 4,
      pointHoverBorderWidth: 15,
      pointRadius: 4,
      data: [ 60,110,70,100, 75, 90, 80, 100, 70, 80, 120, 80],
    }]
  };

  var myChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: gradientChartOptionsConfiguration
  });

</script>


<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content
    - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
      } else {
      dropdownContent.style.display = "block";
      }
      });
    }
</script>


</body>
{% endblock %}


    