{% extends 'base.html' %}
{% load static %}


{% block body %}

      <div class="container">
        <h1 class="mt-4 mt-lg-0">Bom dia, Usuário</h1>
        <h4 class="mb-4">
          Aqui estão as informações mais <br />importantes do seu negócio
        </h4>
        <table class="table">
          <thead>
            <tr>
              <th>Faturamentos</th>
              <th>Nº de Vendas</th>
              <th>Valor médio vendas</th>
              <th>Novos Clientes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ saleTot }}</td>
              <td>-</td>
              <td>{{saleAvg}}</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
        Years:{{xYear}}={{yYear}}<br>Months:{{xMonth}}={{yMonth}}<br>Days:{{xDay}}={{yDay}}<br>
        <div class="row mb-3 align-items-end">
          <div class="col-sm-4">
            <h4 class="mb-1">Total Vendas</h4>
            <h4 class="m-0"><strong>Performance</strong></h4>
          </div>

          <div class="col-sm-8 d-flex justify-content-end">
            <div class="form-check form-check-radio form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="period"
                  value="semanal"

                />
                Semanal
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check form-check-radio form-check-inline mx-2">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="period"
                  value="mensal"
                />
                Mensal
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check form-check-radio form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="period"
                  value="anual"
                  checked
                />
                Anual
                <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
        </div>



        <section class="card card-chart">
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple1"></canvas>
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock %}


{% block corejs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  (function () {
  function getData({ labels, data }) {
    return {
      labels,
      datasets: [
        {
          label: 'Data',
          fill: true,
          backgroundColor: gradientStroke,
          borderColor: '#d048b6',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#d048b6',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#d048b6',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data,
        },
      ],
    };
  }

  function getDataAnual() {
    return getData({
      labels: {{ years }},
      data: {{ yYear }},
    });
  }

  function getDataMensal() {
    return getData({
      labels: [
        '01',
        '02',
        '03',
        '04',
        '05',
        '06',
        '07',
        '08',
        '09',
        '10',
        '11',
        '12',
        '13',
        '14',
        '15',
        '16',
        '17',
        '18',
        '19',
        '20',
        '21',
        '22',
        '23',
        '24',
        '25',
        '26',
        '27',
        '28',
        '29',
        '30',
      ],
      data: [
        10,
        15,
        30,
        25,
        40,
        50,
        70,
        90,
        45,
        25,
        20,
        20,
        35,
        55,
        30,
        50,
        80,
        100,
        120,
        115,
        100,
        90,
        55,
        100,
        120,
        95,
        55,
        45,
        65,
        95,
      ],
    });
  }

  function getDataSemanal() {
    return getData({
      labels: [
        'Domingo',
        'Segunda',
        'Terça',
        'Quarta',
        'Quinta',
        'Sexta',
        'Sabádo',
      ],
      data: [45, 55, 35, 85, 65, 80, 120],
    });
  }

  var gradientChartOptionsConfigurationWithTooltipPurple = {
    maintainAspectRatio: false,
    legend: {
      display: false,
    },

    tooltips: {
      backgroundColor: '#f5f5f5',
      titleFontColor: '#333',
      bodyFontColor: '#666',
      bodySpacing: 4,
      xPadding: 12,
      mode: 'nearest',
      intersect: 0,
      position: 'nearest',
    },
    responsive: true,
    scales: {
      yAxes: [
        {
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: 'transparent',
          },
          ticks: {
            suggestedMin: 60,
            suggestedMax: 125,
            padding: 20,
            fontColor: '#9a9a9a',
          },
        },
      ],

      xAxes: [
        {
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: 'transparent',
          },
          ticks: {
            padding: 20,
            fontColor: '#9a9a9a',
          },
        },
      ],
    },
  };

  var ctx = document.getElementById('chartLinePurple1').getContext('2d');

  var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

  gradientStroke.addColorStop(1, 'rgba(72,72,176,0.2)');
  gradientStroke.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke.addColorStop(0, 'rgba(119,52,169,0)'); //purple colors

  var lineChart = new Chart(ctx, {
    type: 'line',
    data: getDataAnual(),
    options: gradientChartOptionsConfigurationWithTooltipPurple,
  });

  $('.content input[name="period"]').change((event) => {
    var value = $(event.target).val();
    if (value === 'anual') lineChart.data = getDataAnual();
    else if (value === 'mensal') lineChart.data = getDataMensal();
    else if (value === 'semanal') lineChart.data = getDataSemanal();

    lineChart.update();
  });
})();

</script>
{% endblock corejs %}


