{% extends 'base.html' %}
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/products.css' %}"/>
{% endblock stylesheets %}



{% block body %}


<div>
    <div class="procuracombutton">
        <div class="pesquisa">
            <input class="form-control" size="40" id="myInput" type="text" placeholder="Procure por nome ou categoria.">
        </div>
            <a href="{% url 'add_product' %}"><button class="addprod">Adicionar produto</button></a>
    </div>

    <table class="table" align="center">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Preço custo</th>
                <th>Preço venda</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for item in items %}
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.categoria }}</td>
                <td>R$ {{ item.preco_custo }}</td>
                <td>R$ {{ item.preco_venda }}</td>
                <td class="td-actions text-right">
                    <a href="{% url 'edit_product' item.pk %}"> <button type="button"  rel="tooltip" class="btn btn-success btn-sm btn-icon">
                        <i class="fas fa-edit"></i>
                    </button></a>
                    <a type="button" href="{% url 'delete_product' item.pk %}"><button rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                      <i class="fas fa-trash"></i>
                    </button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>


{% endblock %}