{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block sidebar %} {% endblock %}
{% block navbar %} {% endblock %}

{% block body %}
    <div class="wrapper">
      <main
        class="main-panel d-flex align-items-center justify-content-center p-3 p-sm-4">
        <div class="container mx-0">
          <div class="card">
            <form
              role="form"
              method="post"
              novalidate
              id="validate-form">
              {% csrf_token %}
              {{ form.non_field_errors }}

              <header class="card-header">
                <h5 class="title">Login</h5>
              </header>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="form-group has-label">
                      <div>
                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        {{ form.username }}
                      </div>
                    </div>
                  </div>
                </div>
                <span class="text-danger">{{ form.username.errors }}</span>

                <div class="row">
                  <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="form-group has-label">
                      <div>
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                      </div>
                    </div>
                  </div>
                </div>
                <span class="text-danger">{{ form.username.errors }}</span>


              <footer class="card-footer">
                <div
                  class="d-flex flex-column flex-sm-row align-items-sm-center"
                >
                  <button
                    type="submit"
                    name="register"
                    class="btn btn-fill btn-primary"
                  >
                    Entrar
                  </button>

                  <div class="mt-2 mt-sm-0 ml-sm-2">
                    Ainda não tem uma conta?
                    <a href="{% url 'register' %}" class="text-primary">
                      Cadastre-se
                    </a>
                  </div>
                </div>
              </footer>
            </form>
          </div>
        </div>
      </main>
    </div>
{% endblock %}